<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.lotteryapi.issue.dao.IssueMapper">
    <resultMap id="IssueResultMap" type="com.me.lotteryapi.issue.entity.Issue">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="game_code" jdbcType="VARCHAR" property="gameCode"/>
        <result column="issue_num" jdbcType="VARCHAR" property="issueNum"/>
        <result column="lottery_date" jdbcType="VARCHAR" property="lotteryDate"/>
        <result column="lottery_num" jdbcType="VARCHAR" property="lotteryNum"/>
        <result column="lottery_time" jdbcType="VARCHAR" property="lotteryTime"/>
        <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="sync_time" jdbcType="VARCHAR" property="syncTime"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="settlement_time" jdbcType="VARCHAR" property="settlementTime"/>
        <result column="automatic_lottery" jdbcType="VARCHAR" property="automaticLottery"/>
        <result column="automatic_settlement" jdbcType="VARCHAR" property="automaticSettlement"/>
        <result column="issue_num_inner" jdbcType="VARCHAR" property="issueNumInner"/>
    </resultMap>

    <select id="getIssueByGameCodeAndLotteryDate" resultMap="IssueResultMap">
        select * from issue where game_code = #{gameCode} and lottery_date = #{lotteryDate}
    </select>

    <insert id="save" parameterType="com.me.lotteryapi.issue.entity.Issue">
        INSERT INTO issue(
        id,end_time,game_code,issue_num,lottery_date,lottery_num,lottery_time,start_time,state,sync_time,version,settlement_time,automatic_lottery,automatic_settlement,issue_num_inner
        ) VALUES (
          #{id},#{endTime},#{gameCode},#{issueNum},#{lotteryDate},#{lotteryNum},#{lotteryTime},#{startTime},#{state},#{syncTime},#{version},#{settlementTime},#{automaticLottery},#{automaticSettlement},#{issueNumInner}
        )
    </insert>

    <select id="getCurrentIssue" resultMap="IssueResultMap">
        select * from issue where game_code = #{gameCode} and  start_time &lt;= #{now} and end_time &gt; #{now1} LIMIT 1
    </select>

    <select id="getTopIssueByEndTime" resultMap="IssueResultMap">
        select * from issue where game_code = #{gameCode} and  end_time &lt;= #{now} ORDER BY end_time desc limit 1
    </select>

    <select id="getTopIssueByIssueNum" resultMap="IssueResultMap">
        select * from issue where game_code = #{gameCode} and  issue_num &lt; #{issueNum} ORDER BY issue_num desc limit 1
    </select>

    <update id="updateIssue" parameterType="com.me.lotteryapi.issue.entity.Issue">
        update issue set
        end_time=#{endTime},
        game_code=#{gameCode},
        issue_num=#{issueNum},
        lottery_date=#{lotteryDate},
        lottery_num=#{lotteryNum},
        lottery_time=#{lotteryTime},
        start_time=#{startTime},
        state=#{state},
        sync_time=#{syncTime},
        version=#{version},
        settlement_time=#{settlementTime},
        automatic_lottery=#{automaticLottery},
        automatic_settlement=#{automaticSettlement},
        issue_num_inner=#{issueNumInner}
        where id = #{id}
    </update>

</mapper>